/* font télécharger*/
@font-face {
  font-family: 'Monomod';
  src: url('fonts/Monomod.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'space-grotesk';
  src: url("fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* les couleurs utiliser pour le site*/
:root {
  --bg: #151218;       
  --panel: #1f1a22;    
  --accent: #1fe060;   
  --muted: #bdbdbd;    
}

/* le style total du site */
body {
  margin: 0;
  background: var(--bg);/* la couleur du fond du site */
  color: var(--muted);
  font-family: "space-grotesk";/* la font qui utilise de l'écriture de la page */
  font-size: large;/* la grosseur de l'écriture*/
  line-height: 1.6;
  

}

/* Titre */
.section-title {
  color: var(--accent); 
  font-weight: 700;
  text-align: center; /* ou est placer le texte */
  margin: 150px 0 50px;
  font-size: 2rem;
  position: relative;/* la position relative reste toujours la meme   */
  font-family: 'Monomod';/*la font qui est utiliser pour les titres    */
}

.section-title::after {
  content: "";
  display: block;/* le style total du site */
  width: 60px;
  height: 3px;
  background: var(--accent);
  margin: 10px auto 0;
  border-radius: 2px;/* permet d'arondire les coins   */
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: var(--accent);
  font-weight: 500;
}
/* Navbar effet quand tu passe decu */
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--muted);
  text-shadow: 0 0 8px var(--accent);/* permet d'avoir une ombre sur le texte  */
}

/* Le hero */
.hero h1 {
  color: var(--accent);
  text-shadow: 0 0 10px var(--accent),
               0 0 20px var(--accent),
               0 0 40px var(--accent);
  font-size: 3rem;
  font-family: 'Monomod';
}

.hero p {
  color: var(--accent);
  font-size: 1.2rem;
  font-family: 'Monomod';
}

/* grille des application */
.app-grid {
  display: grid;/* conteneur de grille  */
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));/* permet d'avoir des colonnes qui s'adapte a la taille de l'écran  */
  gap: 40px;/* espace entre les application  */
  margin-top: 30px;
}
/*  application */
.app {
  display: flex;/* permet de mettre des élément enfant sur une seul ligne ou colonne  */
  flex-direction: column;/* place les élément de haut en bas */
  align-items: center;/* place les élément au centre  */
  text-align: center;/* place le texte au centre de l'élélment */
  background: var(--panel);
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;/* aniamtion qui fait un soulevement lors du hover  */
}
/* application quand tu passe decu */
.app:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px var(--accent);
}

/* images des application */
.app img {
  width: 70px;
  height: 70px;
  object-fit: contain;/* l'image s'adapte au container   */
  margin-bottom: 10px;
}
/* texte des application */
.app p {
  font-family: 'Monomod';
  font-size: 15px;
  color: var(--muted);
  margin: 0;
}
a {
  text-decoration: none; /* enlève le soulignement bleu  des lien clicable*/
}




/* Bouton néon */
.neon-btn {
  display: inline-block;/* le bouton reste sur la meme ligne si il y a de la place*/
  font-size: 18px;             
  font-weight: bold;
  color: var(--accent);
  background: transparent;
  border: 3px solid var(--accent);  
  border-radius: 40px;          
  padding: 14px 40px;         
  text-transform: uppercase;
  letter-spacing: 2px;  /* espace entre les lettres*/        
  transition: all 0.3s ease;
}
/* Bouton néon */
.neon-btn:hover {
  background: var(--accent);
  color:var(--bg);
  box-shadow: 0 0 8px var(--accent),
              0 0 15px var(--accent); 
}

/* contact */
#contact {
  margin-top: 160px;
  text-align: center;
}
/* contact texte */
#contact p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-family: 'Monomod';
}

/* footer */
.footer {
  background: var(--panel);
  color: var(--muted);
  text-align: center;
  padding: 15px 0;
  margin-top: 100px;
  font-size: 14px;
  border-top: 1px solid var(--panel);
}

/* carte des projet */
.appli-vue .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.project-card {
  width: 100%;
  background-color: var(--panel);
  border: 2px solid var(--accent);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3); /* ✅ corrigé */
  padding: 60px;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 60px;
}

/* carte des projets quand tu passes dessus */
.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.6);
}

/* titre */
.project-card h5 {
  color: var(--accent);
  font-family: 'Monomod', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* texte */
.project-card p {
  color: var(--muted);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 25px;
}

/* bouton */
.project-card .neon-btn {
  display: inline-block;
  color: var(--accent);
  border: 1px solid var(--accent);
  background: transparent;
  padding: 8px 38px; 
  border-radius: 8px;
  transition: 0.3s;
  margin-top: 20px; 
}



.project-card .neon-btn:hover {
  background: var(--accent);
  color: var(--bg);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
}

/* image */
.project-card img {
  display: block;
  margin: 0 auto 30px; 
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
}


/* ligne de  */
.skill-line {
  margin-bottom: 25px;
}
/* bouton des cartes quand tu passe decu */
.progress-bar-container {
  width: 100%;
  height: 30px;
  background-color:var(--panel);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--accent)(0, 255, 0, 0.4);
  margin-bottom: 60px;
}
/* bouton des cartes quand tu passe decu */
.progress-bar-fill {
  height: 100%;
  background: var(--accent);
  transition: width 0.3s ease-out;
  border-radius: 10px;
}

/* À PROPOS */
#apropos {
  background: var(--panel);
  border: 2px solid var(--accent);
  border-radius: 20px;
  padding: 10px 20px 20px ; /* réduit le padding en haut */
  margin: 25px auto; /* réduit l’espace autour */
  max-width: 1000px;
  color: var(--accent);
  text-align: left;
}

#apropos h2,
#apropos h3 {
  color: var(--accent);
  font-family: 'Monomod';
  text-align: center;
  margin-top: 0; /* empêche le titre d’être trop bas */
}

#apropos p {
  font-family: 'space-grotesk';
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--muted);
  margin-top: 0; /* rapproche du titre */
}
.small-img {
  width: 800px; /* ou autre taille */
  height: auto; /* conserve les proportions */
}
#portfolio-section {
  background: var(--panel);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* aniamtion texte portfolio */
#PORTFOLIO {
  font-size: 4vw;
  font-weight: 600;
  color: var(--accent);
  opacity: 0;
  font-family: 'Monomod';
}

/* Version téléphone  */
@media (max-width: 600px) { /* permet de voir l'aniamtion du texte portfolio en mode téléphone à la bonne grosseur  */
  #PORTFOLIO {
    font-size: 8vw; 
    opacity: 1;      
    text-align: center; 
  }
}

/* ligne qui sépare mes sections */
.section-divider {
  width: 60%;
  height: 2px;
  background: var(--accent);
  box-shadow: 0 0 10px var(--accent);
  margin: 100px auto;
  border-radius: 2px;
  opacity: 0.8;
}
/* Conteneur global de project-description */
.project-description {
  padding: 2rem;
  margin-bottom: 3rem;
  color: var(--muted);
}

/* Chaque bloc à l'intérieur de la section */
.project-description >  {
  margin-bottom: 2rem; /* espace entre chaque bloc (titre, paragraphe, image) */
}

/* Chaque étape ou sous-section */
.project-description .step {
  border: 2px solid var(--accent);
  border-radius: 12px;
  padding: 1.5rem;
  background-color: var(--panel);
  box-shadow: 0 0 12px var(--accent)(0, 255, 0, 0.3);
  margin-bottom: 2rem;
}

/* Titres des étapes */
.project-description h2, 
.project-description h3 {
  margin-bottom: 1rem;
  color: var(--accent);
  font-weight: 700;
  border-bottom: 1px solid var(--accent);
  display: inline-block;   /* garde la bordure courte */
  padding-bottom: 0.2rem;
  text-align: center;      /* centre le texte */
  width: 100%;             /* nécessaire pour que text-align fonctionne avec inline-block */
}


/* Paragraphes des pages de projet */
.project-description p {
  line-height: 1.8;
  font-size: 1.3rem; /* texte plus gros */
  color: var(--muted);
}



/* Images des projets dans chaque projet*/
.project-description img.small-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
 
  border-radius: 8px;
  box-shadow: 0 0 10px var(--accent) (0, 255, 0, 0.4);
}
/* style pour les collaborateur dans les projets */
.collaborations {
  text-align: center;
  margin: 40px 0;
}
/* style pour les collaborateur dans les projets les h4 */
.collaborations h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--accent);
}
/* style pour les collaborateur en monde liste */
.collaborations ul li a {
  text-decoration: none;
  color: var(--accent);
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
  
}


.collaborations ul li {
  margin: 10px 0; 
}

.collaborations ul li a:hover {
  transform: scale(2.1);/* augement la taille du texte lors du survole */
}

.collaborations ul {
  list-style-type: none; /* Supprime les deux petits point */
  padding-left: 0;      
  margin: 0;
}
/* style pour mon role dans les projets */
.role {
  text-align: center;
  margin: 40px 0;
}

.role h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--accent);
}

.role p {
  font-size: 1.5rem;
  margin: 0;
  color: var(--accent);
}
