:root {
  --bg: #151218;
  --panel: #1f1a22;
  --card: #dcdcdc;
  --accent: #1fe060;
  --muted: #bdbdbd;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--muted);
  font-family: Arial, sans-serif;
}


.section-title {
  color: var(--accent);
  font-weight: 700;
  margin-bottom: 10px;
}

.card {
  background: var(--panel);
  border: none;
  border-radius: 6px;
}

.card-img-top {
  border-radius: 6px;
}


.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.app img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 8px;
  
}

.app p {
  font-size: 14px;
  color: var(--muted);
  margin: 0;
}

/* FOOTER */
footer {
  background: var(--panel);
  color: var(--muted);
  text-align: center;
  padding: 12px 0;
  margin-top: 40px;
  font-size: 14px;
}

.section-title {
    text-align: center;
    margin-top: 2rem; /* optionnel, espace au-dessus */
    margin-bottom: 1rem; /* optionnel, espace en dessous */
}


